:root {
	--red: #A50318;
	--light-red: #aa4f5b9c;
}

#Cardd {
	width: 375px;
	min-width: 350px;
	border-radius: 5px !important;
	border-color: #a50318;
	border-width: 2px;
	padding: 0;
	margin: 0;
	/* margin-bottom: 20px; */
}

.errorView {
	color: #a50318;
}

.btnn {
	background-color: #a50318;
	color: #ffffff;
}

.btnn:focus,
.btnn:hover {
	/* opacity: 0.9; */
	background-color: #a50318;
	color: #ffffff;
	outline: 3px solid var(--light-red) !important;
	/* outline-color: #a50318; */
	/* outline-style: outset; */
}

.googlebutton {
	background-color: aliceblue;
	text-decoration: none;
	height: 45px;
}
input[type="password"] {
	padding-right: 30px !important;
}
.btn--toggle-password {
	width: 30px;
	position: absolute;
	right: 0;
	top: 50%;
}

.googlebutton:hover {
	background-color: #fff;
	outline-color: #ffff;
	outline-style: outset;
}
