@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.products-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */

}

.product-card {
  flex-basis: calc(25% - 20px);
  margin:20px;
  display: flex;
  flex-direction: column;

  /* justify-content: space-between; */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  min-width: 250px;
  max-width: 280px!important;
  font-family: 'Roboto', sans-serif;
}
.product-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.product-image {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 200px;
 
}

.product-image img {
  display: block;
  width: auto;
  height: 100%;
  transition: transform 0.5s ease;
  border-radius: 10px;
}

.product-image:hover img {
  transform: scale(1.1);
}

.product-image:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.product-image:hover:before {
  opacity: 1;
}

.product-info {
  padding: 20px;
}

.product-name {
  font-size: 1.0rem;
  font-weight: 700;
  margin: 0;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 20px 0;
  color: #440474;
  text-align: center;
}

.product-description {
  margin: 20px 0;
  color: #666;
  line-height: 1.5;
  text-align: justify;
}

.product-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.view-details,
.add-to-cart {
  background-color: #a50318;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 100%;
  max-width: 200px;
  margin: 0 10px;
}

.view-details:focus,
.add-to-cart:focus,
.view-details:hover,
.add-to-cart:hover {
  background-color: #a50318;
  color: #ffffff;
  outline: 3px solid var(--light-red) !important;
}

.add-to-cart i {
  margin-right: 10px;
}

.view-details i {
  margin-right: 10px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .product-card {
    max-width: 100%;
  }



  .product-name {
    font-size: 0.9rem;
  }

  .product-price {
    font-size: 1.3rem;
    margin: 10px 0;
  }

  .product-description {
    font-size: 1rem;
  }

  .view-details,
  .add-to-cart {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 992px) {
  .product-card {
    flex-basis: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 768px) {
 
  
  .product-card {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .product-card {
    flex-basis: 100%;
  }
}